.container {
  margin-top: 25px;
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: #4bb543;
}

b {
  margin-right: 15px;
}

mat-icon {
  margin-right: 10px;
}

h4 {
  margin: 0;
}

.score {
  margin-top: 20px;
  font-weight: bold;
}
