.container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;

  .articles {
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 30px;

    mat-card {
      width: 45%;
    }
  }
}

mat-chip {
  cursor: pointer;
}
