.container {
  position: relative;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;

  .articles {
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    mat-card {
      width: 40%;
      min-width: 300px;
    }
  }

  .filters {
    position: fixed;
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .filters {
    display: none;
  }

  .filters__button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .articles {
    margin-top: 50px;
    width: unset !important;
  }
}

mat-chip {
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

h2 {
  margin-top: 20px;
}

mat-card {
  margin-bottom: 20px;
}
