<mat-spinner *ngIf="!article"></mat-spinner>

<mat-card class="example-card" *ngIf="article">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle>Por Usuario que publica</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="article.image" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <div [innerHTML]="article.body | sanitizeHtml"></div>
  </mat-card-content>
  <mat-card-actions class="categories__container">
    <h4>Categorias:</h4>
    <mat-chip-list aria-label="Categorias del articulo">
      <mat-chip
        *ngFor="let category of article.categories"
        color="accent"
        selected
      >
        {{ category }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
  <mat-card-actions class="actions__container">
    <button mat-button>Me gusta</button>
    <share-button button="facebook"></share-button>
    <share-button button="twitter"></share-button>
    <share-button button="telegram"></share-button>
  </mat-card-actions>
  <mat-card-actions class="comments__container">
    <h4>Comentarios ({{ commentsList.length }}):</h4>
    <h5 *ngIf="commentsList.length === 0">
      Aún no hay comentarios
    </h5>

    <mat-card class="comment__card" *ngFor="let comment of commentsList">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Usuario que hizo comentario</mat-card-title>
        <mat-card-subtitle>{{ comment.comment }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="add__comment-card">
      <form (submit)="addComment($event)">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Agrega un comentario</mat-label>
            <input
              matInput
              [formControl]="comment"
              autocomplete="off"
              #commentInput
            />
          </mat-form-field>
        </mat-card-header>
        <mat-card-actions>
          <div class="button__container">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="comment.invalid"
            >
              Comentar
            </button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-card-actions>
</mat-card>
