.example-card {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-chip {
  cursor: pointer;
}

.categories__container,
.comments__container {
  margin-left: 0px;
}

h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

.actions__container {
  display: flex;
  justify-content: flex-end;
}

.add__comment-card mat-card-header {
  mat-form-field {
    width: 100%;
  }
}

.button__container {
  display: flex;
  justify-content: flex-end;
  button {
    margin-right: 200px;
    margin-top: -15px;
  }
}
