mat-radio-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 25px;
  margin-top: 20px;
  mat-radio-button {
    text-transform: capitalize;
  }
}

.buttons__container,
.send__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  mat-radio-group {
    flex-direction: column;
    gap: 20px;
  }
}
