<form [formGroup]="answersForm">
  <mat-stepper [linear]="false" formArrayName="answers" #stepper>
    <mat-step *ngFor="let answer of answers.controls; let i = index">
      <h1 class="text-center">Pregunta número {{ i + 1 }}</h1>
      <h2 class="text-center">
        {{ questions[i].question }}
      </h2>

      <p class="text-center">Selecciona la opción que creas correcta:</p>

      <mat-radio-group aria-label="Select an option" [formControlName]="i">
        <mat-radio-button [value]="1">
          {{ questions[i].answer1 }}
        </mat-radio-button>
        <mat-radio-button [value]="2">
          {{ questions[i].answer2 }}
        </mat-radio-button>
        <mat-radio-button [value]="3">
          {{ questions[i].answer3 }}
        </mat-radio-button>
      </mat-radio-group>
      <div class="buttons__container">
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
      <div class="send__button" *ngIf="i === questions.length - 1">
        <button mat-raised-button color="accent" (click)="send()">
          Finalizar quizz
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
