form {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  margin-bottom: 100px;

  .example-chip-list {
    margin-top: 30px;
  }

  .btn {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .article__image {
    margin: 0 auto;
    max-width: 350px;
    margin-top: 30px;

    &.loading {
      filter: blur(5px);
    }
  }
}
