<h1>Crea un nuevo articulo!</h1>
<form [formGroup]="newArticleForm" (submit)="submitArticle()">
  <angular-editor
    placeholder="Agrega el cuerpo de tu articulo aqui"
    [config]="editorConfig"
    formControlName="body"
  ></angular-editor>

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Categorías</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let category of selectedCategories"
        (removed)="remove(category)"
      >
        {{ category }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Escoge las categorias del articulo"
        #categoriesInput
        formControlName="categories"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let category of filteredCategories | async"
        [value]="category"
      >
        {{ category }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br />

  <button type="button" mat-raised-button (click)="fileInput.click()">
    Agrega una imagen para tu articulo
  </button>
  <input
    (change)="handleFileChange($event)"
    hidden
    #fileInput
    type="file"
    id="file"
  />

  <img [src]="image" alt="article image" *ngIf="image" />

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="newArticleForm.invalid || !imageUrl"
  >
    Crear articulo
    <mat-icon>add_circle</mat-icon>
  </button>
</form>
