<form [formGroup]="newArticleForm" (submit)="submitArticle()">
  <h1>Crea un nuevo articulo!</h1>
  <angular-editor
    placeholder="Agrega el cuerpo de tu articulo aqui"
    [config]="editorConfig"
    formControlName="body"
  ></angular-editor>

  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Categorías</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let category of selectedCategories"
        (removed)="remove(category)"
      >
        {{ category }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Escoge las categorias del articulo"
        #categoriesInput
        formControlName="categories"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option
        *ngFor="let category of filteredCategories | async"
        [value]="category"
      >
        {{ category }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button
    class="btn"
    type="button"
    mat-raised-button
    (click)="fileInput.click()"
  >
    Agrega una imagen a tu articulo
    <mat-icon>image</mat-icon>
  </button>
  <input
    (change)="handleFileChange($event)"
    hidden
    #fileInput
    type="file"
    id="file"
  />

  <img
    [src]="image"
    class="article__image"
    [ngClass]="{ loading: !imageUrl }"
    alt="article image"
    *ngIf="image"
  />

  <button
    class="btn"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="newArticleForm.invalid || !imageUrl || isLoading"
  >
    <ng-container *ngIf="!isLoading">
      Crear articulo
      <mat-icon>add_circle</mat-icon>
    </ng-container>
    <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
  </button>
</form>
